<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia Viewer</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script type="text/javascript" src="../scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../scripts/angular-1.6.5.min.js"></script>
    <script type="text/javascript" src="../scripts/angular-animate-1.6.5.min.js"></script>
    <script async type="text/javascript" src="../scripts/bootstrap3.3.7.min.js"></script>
    <script src="scripts.js"></script>
</head>
<body>
<div class="header">
    <h1>Wikipedia Viewer</h1>
    brought to you by
    <h2>Hieratikos</h2>
    <table>
        <tr>
            <td class="left"><hr class="flared"></td>
            <td class="center"><img class="logoImg" src="../images/NightfallLogo.webp"></td>
            <td class="right"><hr class="flared"></td>
        </tr>
    </table>

</div>
<main ng-app="WikiApp" ng-controller="WikiCtrl">
    <div class="wrapper fullHeight" id="search">
        <a class="search-text" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Click here for a random article</a><br/>
        <form ng-submit="search()">
            <input type="text" ng-model="searchTxt"/>
            <div class="eks"></div>
        </form>
        <p class="search-text" id="help">Click icon to search</p>
    </div>

    <div class="container" ng-repeat="result in results">

        <div class="row" >

            <div class="col-md-2 panel-body">
                <a ng-href="{{ result.page }}" target="_blank" >
                <img id="thumbNail" ng-src="{{ result.thumb }}" alt="Image Alt Text" />
                </a>
            </div>

            <div class="col-md-10 panel-body" >
                <a ng-href="{{ result.page }}" target="_blank" >
                <div class="resultTitle">{{ result.title }}</div>
                </a>
                <p>{{ result.body }}</p>
            </div>
        </div>

    </div>

</main>
</body>
</html>


