<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia Viewer</title>
    <link rel="stylesheet" type="text/css" href="bootstrap3.3.7.min.css" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="angular-1.6.5.min.js"></script>
    <script type="text/javascript" src="angular-animate-1.6.5.min.js"></script>
    <script async type="text/javascript" src="bootstrap3.3.7.min.js"></script>
    <script src="scripts.js"></script>
</head>
<body>

<header id="tempHeader">
    <div id="tempPageTitle">Wikipedia Viewer</div>
    brought to you by
    <div id="tempAuthor">jordiCombs</div>
    <table id="tempLogoTable">
        <tr>
            <td id="tempLogoTableLeft"><hr class="flared"></td>
            <td id="tempLogoTableCenter"><img id="logoImg" src="http://res.cloudinary.com/hieratikos/image/upload/v1492361036/NightfallLogo_ndt9em.png"></td>
            <td id="tempLogoTableRight"><hr class="flared"></td>
        </tr>
    </table>
</header>

<main ng-app="WikiApp" ng-controller="WikiCtrl">

    <div class="wrapper" id="search">

        <a id="searchLink" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Click here for a random article</a><br/>

        <form ng-submit="search()">
            <input type="text" ng-model="searchTxt"/>
            <div class="eks"></div>
        </form>

        <p class="search-text" id="help">Click icon to search</p>
    </div>

    <div class="container" ng-repeat="result in results">
        <div class="row" >
            <div class="col-md-2 panel-body">
                <a ng-href="{{ result.page }}" target="_blank" >
                <img id="thumbNail" ng-src="{{ result.thumb }}" alt="Image Alt Text" />
                </a>
            </div>

            <div class="col-md-10 panel-body" >
                <a ng-href="{{ result.page }}" target="_blank" >
                <div class="resultTitle">{{ result.title }}</div>
                </a>
                <p>{{ result.body }}</p>
            </div>
        </div>
    </div>

</main>
</body>
</html>


